body{max-width:650px;
  margin:40px auto;
  padding:0 10px;
  /*font:16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
  font-size:16px;
  font-family: 'Epilogue', sans-serif;
  
  color:#042a2b;
  background-image: linear-gradient(to right, #ffc4d0, #c1cbff);
  line-height: 1.6}

h1,h2,h3
{
  background-color: #042a2b;
  background-image: linear-gradient(490deg, #3f5ef8, #dd3053);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;}

.grid{
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-columns: 50% 50%;
  }

input[type=number] {
    border-radius: 5px;
    padding: 6px 4px;
    width: 100px;
    margin: 0px 0px;
    box-sizing: border-box;
    border: 2px solid #a38afd;
    background-color: transparent;
    color: #042a2b;
    transition: border font-weight 0.2s ease;
    font-size:18px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
input[type=number]:focus {
  outline: none;
  font-weight: 400;
  border: 2.5px solid #3f5ef8;
  transition-delay: 0.01s
}


hr {
  height: 1.5px;
  background-color: #042a2b;
  border: none;
}

footer{
  font-size:16px
}

a {
  color:#dd3053}

.err-msg {
  color:#dd3053}